application
{
	listen_backlog	42
	buffer_size		1024
	mime_config		mime.config
	debug_mode		true
	debug_logging	true
	log_file		logs.log
}

server
{
	listen_port		8080

	host
	{
		name				main_server.nl main_server.com
		root				root
		methods				GET
		default_index		index.html
		default_error		error.html
		autoindex			false
	}

	host
	{
		name				cgi_handler
		root				root/upload
		methods				DELETE POST
		default_index		index.html
		default_error		error.html
		autoindex			false

		location			*.py
		{
			root			root/cgi/
		}

		location			/googlesearch/
		{
			redirect		www.google.com
		}

		location			/images/
		{
			root			root/data/images
		}
	}
}
