buffer_size	4096

server
{
	port	8080

	host
	{
		name				Webserv
		accepted_methods	GET POST DELETE
		root				root

		location *.py
		{
			route_type			cgi
			root				root/cgi-bin/
			accepted_methods	POST
		}

		location /images/*
		{
			root	root/data/
		}

		location /upload/*
		{
			root	root/data/
		}
	}

	host
	{
		name				google
		root				root
		accepted_methods	GET

		location /googlesearch/*
		{
			route_type	redirect
			root		www.google.com
		}
	}
}
