buffer_size	4096

server
{
	port	8080

	host
	{
		name				Webserv
		accepted_methods	GET POST DELETE
		root				root
		autoindex			true
		default_index		index.html

		location /cgi-bin/*.py
		{
			route_type			cgi
			accepted_methods	POST GET
		}

		location /images/*
		{
			root	root/data/
		}

		location /upload/*
		{
			root	root/data/
		}
	}

	host
	{
		name				google
		root				root
		accepted_methods	GET

		location /googlesearch/*
		{
			route_type	redirect
			root		www.google.com
		}
	}
}
